$main-color: #8da1b9;
$second-color: #95adb6;
$third-color: #cbb3bf;
$fourth-color: #dbc7be;
$fifth-color: #ef959c;

$main-color-dark: #1b232d;
$second-color-dark: #1e282b;
$third-color-dark: #32222a;
$fourth-color-dark: #3a2820;
$fifth-color-dark: #4a0b10;